@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --pink: #ff046f;
  --nun: 'Nunito', sans-serif;
  --violet: #c63bfa;
}

* {
  font-family: 'Nunito', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background: var(--pink);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

section {
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-size: 4rem;
  color: var(--pink);
  text-align: center;
  padding: 0 1rem;
}
.title {
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: #aaa;
  margin-bottom: 3rem;
}

.header {
  position: fixed;
  top: 2rem;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: 0.2s linear;
}

/* header start */

.header .flex {
  background-color: #fff;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  transition: 0.2s linear;
}

.header .header-active {
  top: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
/* 헤더와 헤더 사이를 한칸띄우면 헤더안에 자식요소헤더 액티브 */
/* 띄우지 않으면 동시클래스를 가진 div를 뜻함*/

.header .header-active .flex {
  padding: 2rem;
}

.header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.header .navbar ul li {
  margin: 0 1rem;
}

.header .navbar ul li a {
  font-size: 2rem;
  color: var(--pink);
  transition: 0.2s;
}

.header .navbar ul li a:hover,
.header .navbar ul li .active {
  color: var(--violet);
}

.header .logo {
  font-size: 2.5rem;
  color: var(--violet);
  text-transform: uppercase;
}

.header .logo i {
  color: var(--pink);
  padding: 0 0.2rem;
}

#menu-btn {
  font-size: 3rem;
  color: var(--pink);
  cursor: pointer;
  transition: 0.2s;
  display: none;
}

/* header end */

/* home-container start */

.home-container {
  min-height: 100vh;
  background: linear-gradient(rgba(198, 59, 250, 0.8), rgba(198, 59, 250, 0.8)),
    url(./image/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
  overflow: hidden;
  position: relative;
}

.home .content {
  padding-top: 14rem;
  padding-bottom: 2rem;
  text-align: center;
}

.home .content h1 {
  font-size: 5rem;
  color: #fff;
  padding: 0 rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.8rem;
  color: #eee;
  padding: 1rem 25rem;
  max-width: 100rem;
  margin: 1rem auto;
}

.home .content button {
  height: 4rem;
  width: 20rem;
  border-radius: 5rem;
  background-color: var(--pink);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.home .content button:hover {
  letter-spacing: 0.2rem;
}

.home .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.home .box-container .box {
  width: 30rem;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0, 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 2rem;
}

.home .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: var(--violet);
  font-size: 3rem;
  transition: 0.2s;
  margin-bottom: 1.5rem;
}

.home .box-container .box h3 {
  font-size: 2rem;
  color: var(--pink);
  transition: 0.2s;
  margin: 0.5rem 0;
}

.home .box-container .box p {
  font-size: 1.6rem;
  padding: 0.7rem 2rem;
  line-height: 1.8;
  color: #666;
}

.home .box-container .box:hover i {
  background-color: var(--pink);
}

.home .box-container .box:hover h3 {
  color: var(--violet);
}

.home .box-container::before {
  content: '';
  position: absolute;
  bottom: -25rem;
  left: 50%;
  transform: translateX(-50%);
  border-top: 70vh solid #fff;
  width: 120%;
  border-radius: 50%;
  z-index: -1;
}

/* home-container end */

/* about section start */

.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap-reverse;
}

.about .row .image {
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--pink);
}

.about .row .content p {
  font-size: 1.8rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.8;
}

.about .row .content button {
  height: 3.5rem;
  width: 17rem;
  background-color: var(--violet);
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}

.about .row .content button:hover {
  letter-spacing: 0.2rem;
  opacity: 0.8;
}

/* about section end */

/* teacher section start */

.teacher-container {
  background-color: #eee;
}

.teacher .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25rem);
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.teacher .card-container .card {
  padding: 2rem;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.teacher .card-container .card img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
  filter: grayscale();
  transition: 0.3s;
  margin-bottom: 1rem;
}

.teacher .card-container .card:hover img {
  filter: grayscale(0);
}

.teacher .card-container .card h3 {
  color: var(--pink);
  font-size: 2rem;
  padding: 0.5rem 0;
}

.teacher .card-container .card p {
  font-size: 1.7rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.teacher .card-container .card .icons a {
  font-size: 1.9rem;
  margin: 0 0.7rem;
  color: var(--pink);
  transition: 0.3s;
}

.teacher .card-container .card a:hover {
  color: var(--violet);
}

/* teacher section end */

/* course section start */

.course .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem 2rem;
}

.course .box-container .box {
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.1rem var(--violet), 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.course .box-container .box i {
  height: 10rem;
  width: 10rem;
  line-height: 8rem;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: var(--pink);
  margin-top: -6rem;
  border: 1rem solid #fff;
  border-left: 1rem solid var(--pink);
  border-right: 1rem solid var(--pink);
  box-shadow: 0 0 0 1rem #fff inset;
  font-size: 3.5rem;
}

.course .box-container .box h3 {
  font-size: 2rem;
  color: var(--violet);
  margin: 0.5rem 0;
}

.course .box-container .box p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #999;
  padding-top: 0.5rem;
}

/* course section end */

/* .review section start */

.review-container {
  background: #eee;
}

.review .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem 2rem;
  padding-top: 3re;
}

.review .box-container .box {
  width: 28rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.review .box-container .box img {
  width: 8.5rem;
  height: 8.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -6rem;
  border: 16rem solid var(--pink);
  border-left: 0.6rem solid var(--violet);
  border-bottom: 0.6rem solid var(--violet);
}

.review .box-container .box h3 {
  font-size: 2rem;
  color: var(--pink);
  margin: 1rem 0;
}

.review .box-container .box p {
  font-size: 1.6rem;
  color: #999;
  line-height: 1.6;
}

.review .box-container .box .stars i {
  font-size: 1.6rem;
  color: var(--violet);
  padding: 1.3rem 0.1rem;
}

/* .review section end */

/* .contact-container start */

.contact-container {
  background-color: #333;
}

.contact .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row .form-container {
  flex: 1 1 40rem;
  padding: 2rem;
}

.contact .row .form-container input textarea {
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 5rem;
  padding: 1.2rem 1.5rem;
  max-width: 1rem 0;
  color: var(--pink);
  font-size: 1.7rem;
  transform: 0.2s linear;
}

.contact .row .form-container input textarea:focus {
  border: 0.2rem solid var(--pink);
}

.contact .row .form-container textarea {
  height: 20rem;
  border-radius: 1rem;
  padding: 1rem;
  resize: none;
}

.contact .row .form-container input[tpye='submit'] {
  width: 17rem;
  background-color: var(--pink);
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s;
}

.contact .row .form-container input[tpye='submit']:hover {
  letter-spacing: 0.2rem;
}

/* .contact-container end */

.footer {
  text-align: center;
}

.footer .icons {
  margin-bottom: 2rem;
}

.footer .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.2rem;
  text-align: center;
  border-radius: 50%;
  color: var(--violet);
  border: 0.2rem solid var(--violet);
  font-size: 2rem;
  margin: 0.5rem;
  transition: 0.2s linear;
}

.footer .icons a:hover {
  color: #fff;
  background-color: var(--pink);
  border-color: var(--pink);
}

.footer .credit {
  font-size: 2rem;
  border-top: 0.1rem;
  border-top: 0.1rem solid #999;
  padding-top: 3rem;
  color: #666;
}

.footer .credit span {
  color: var(--pink);
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .header {
    top: 0;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  .header .flex {
    padding: 2rem;
  }
  #menu-btn {
    display: none;
  }
  header .navber {
    position: fixed;
    top: -100rem;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 1rem;
    opacity: 0;
    transition: 0.2s linear;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0;
  }
  header .naver ul {
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navber ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  header .navbar ul li a {
    font-size: 3rem;
    display: block;
    padding: 1rem 0;
  }
  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }
  .home .content {
    padding-bottom: 3rem;
    padding-top: 10rem;
  }
  .home .content p {
    padding: 0 2rm;
  }
  .home-container::before {
    display: none;
  }
  .course .box-container {
    width: 100%;
  }
  .teacher .card-container {
    grid-template-columns: repeat(auto-fit, 30rem);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
