.wrap {
  width: 1000px;
  margin: 50px auto;
}
.wrap > div {
  width: 200px;
  height: 50px;
  border: 10px solid black;
}
.float-wrap {
  /* height:52px; 매번변경 */
  /* 2.부모도 float 준다 */
  /* 2.float:left; */
  /* overflow 문제점 header 높이가 사라지는 (넘쳐나는 서브메뉴는 안보임) */
  /* overflow: hidden; */
}
/* -추천- 그래서 나온게 after */
.float-wrap:after {
  content: "";
  display: block;
  clear: both;
}
/* 여백이 없을때는 상관없지만 크기별로 일일히 계산해야하는 단점 */
.float-wrap > div {
  float: left;
  margin-right:30px;
  /* 일일히 값 찾아야함 */
}

/* flex  */
.flex-wrap{
display:flex;
/* 첫번째 왼쪽 붙이고 서서히 떨어짐 - justy-content*/
/* justify-content:space-around; 알아서  */
/* 알아서 정렬하고 부모가 안없어짐짐 */
justify-content:space-evenly;
align-content:center;

}


