table {
  border-collapse: collapse;
}

tr {
  height: 50px;
}

thead th {
  border-top: 2px solid skyblue;
  border-bottom: 2px solid skyblue;
}

tbody td {
  border-bottom: 1px solid gray;
  text-align: center;
  padding-left: 5px;
}

col:nth-child(1) {
  width: 50px;
}
col:nth-child(2) {
  width: 100px;
}
col:nth-child(3) {
  width: 150px;
}
col:nth-child(4) {
  width: 450px;
}
col:nth-child(5) {
  width: 150px;
}
col:nth-child(6) {
  width: 150px;
}
col:nth-child(7) {
  width: 150px;
}
col:nth-child(8) {
  width: 50px;
}
