.cont1 {
  border: 5px solid skyblue;
  position: absolute;
  left: 100px;
  top: 100px;
}

.cont2 {
  border: 5px solid blue;
  position: absolute;
  left: 200px;
  top: 200px;
}

img {
  width: 200px;
}

.wrap {
  width: 500px;
  margin: auto;
  position: absolute;
  left: 50%;
}
