.bigbox {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: skyblue;
  margin: auto;
}
.bigbox > div {
  position: absolute;
  width: 100px;
  height: 100px;
}

* {
  margin: 0;
  padding: 0;
}

.smbox1 {
  background-color: red;
  left: 50%;
  top: 50%;
  transform: translate(-350px, -50%);
}
.smbox2 {
  background-color: orange;
  right: 0;
  top: calc(50% - 50px);
}
.smbox3 {
  right: calc(50% - 50px);
  bottom: 0;
  background-color: blue;
}
