/* .container {
  margin: 1rem 0;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-indent: 2rem;
}

.row {
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  justify-content: center;
} */
/* components/products/ProductList.module.css */
.container {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}
/*
minmax(220px, 1fr) 
최소 너비는 220px
최대 너비는 1fr (즉, 가능한 남은 공간 최대한 채움)
즉, 각 컬럼은 최소 220px 너비를 가지면서, 공간이 충분하면 균등하게 확장
*/
